/* Global styles */

body {
    background: #0F1D38;
    font-family: lato, sans-serif;
    color: blanchedalmond;
   
}

h1 {
    color: #DD50C2;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

.game-area {
    background-color: #506B9F;
    box-sizing: border-box;
   
}

.guess-word {
    margin-bottom: 15px;
}

.input {
    margin-bottom: 15px;
    width: 50%;
    align-items: center;
    margin: auto
}

.player-input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
}

#result {
}

#next-word {
    background-color: #DD5061;
}

.attempts {

}

.score-area {
    padding: 20px;
    margin: 20px;
    display: flex;
}

.scores {
    padding:25px;
}