/* Global styles */

body {
    background: #0F1D38;
    font-family: lato, sans-serif;
    text-align: center;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #DD50C2;
    text-transform: uppercase;
    text-align: center;
}

.game-area {
    background-color: #506B9F;
    box-sizing: border-box;
    width: 85%;
    height: 75vh;
    max-width: 850px;
    max-height: 450px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.guess-word {
    margin-bottom: 15px;
}

.input{
    display: flex;
    margin-bottom: 15px;
}