/* Global styles */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: #0F1D38;
    font-family: lato, sans-serif;
    text-align: center;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #DD50C2;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

.game-area {
    background-color: #506B9F;
    box-sizing: border-box;
    width: 85%;
    height: 75vh;
    max-width: 850px;
    max-height: 450px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.guess-word {
    margin-bottom: 15px;
}

.input {
    display: flex;
    margin-bottom: 15px;
    width: 50%;
    align-items: center;
    margin: auto
}

.player-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
}

#result {
    margin-left: 10px;
}

#next-word {
    background-color: #DD5061;
}

.attempts {
    margin-left: 10px;
}

.score-area {
    padding: 20px;
    margin: 20px;
}

p {
    margin: 0;
}